<!DOCTYPE html><html lang=""><head><meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge"><meta name=viewport content="width=device-width,initial-scale=1"><link rel="shortcut icon" type=image/x-icon href=./favicon.ico><script type=text/javascript src=./static/web3model/web3model.js></script><script type=text/javascript src=./static/web3model/walletconnect-web3-provider.js></script><title>Swanlake</title><script>!function () {
        var devices = ["iPhone","Android","Windows Phone"]
        var ua = window.navigator.userAgent
        for (var i = 0; i < devices.length; i++) {
        if (ua.indexOf(devices[i]) != -1) {
          // window.location.href = 'https://jason-lvlv.github.io/M-H2O/index.html'
          }
        }
      }()</script><link href="/SwanlakeWeb/dist/static/css/app.css?v=1657721843525" rel=stylesheet></head><body><noscript><strong>We're sorry but Webpack App doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id=app></div><script type=text/javascript src=/SwanlakeWeb/dist/static/js/manifest.83c9675bff05c8fde7dc.js></script><script type=text/javascript src=/SwanlakeWeb/dist/static/js/vendor.10b21a3e2c7917d63109.js></script><script type=text/javascript src=/SwanlakeWeb/dist/static/js/app.53f073c09577bc6e7f76.js></script></body></html>